/* registerandlogin.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif; /* Set default font to Segoe UI */
}

/* Center the content vertically and horizontally */
body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 100% viewport height */
  background-color: rgb(
    153,
    148,
    148
  ); /* Background color for the wrapper using RGB values */
}

.content {
  text-align: center;
  padding: 80px;
  background-image: url("../static/login.gif");
  background-size: cover; /* Adjusted to cover */
  background-position: center; /* Centered background image */
  width: 100%;
}

h2 {
  color: black;
  text-align: center;
  text-decoration: double;
}

.circle-image {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Add this to center the container horizontally */
}

.circle-image img {
  width: 100%; /* Changed width to 100% */
  height: 100%; /* Changed height to 100% */
  object-fit: cover; /* Changed background to object-fit */
}

form {
  width: 60%;
  max-width: 400px; /* Added max-width for better responsiveness */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

label {
  color: white;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #333;
  color: white;
  font-size: 12pt;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.56);
  outline: none;
  margin-bottom: 10px;
  box-sizing: border-box; /* Moved box-sizing here */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #ccc;
}

button[type="submit"] {
  width: 100%;
  padding: 16px 0;
  margin: 25px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: black;
  cursor: pointer;
}

p {
  color: white; /* Changed to white */
  text-align: center;
}

p a {
  color: black;
}

@media only screen and (max-width: 600px) {
  form {
    width: 90%;
    color: black;
  }
}
