/* registerandlogin.css */

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

body * {
  box-sizing: border-box;
}

h2 {
  color: #77ffc0;
  text-align: center;
}

.circle-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px; /* Adjust margin as needed */
}

.circle-image img {
  width: 100%;
  height: auto;
}

form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #f0ffff94;
}

button[type="submit"] {
  width: 100%;
  padding: 16px 0;
  margin: 25px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

p {
  color: #f0ffffde;
  text-align: center;
}

p a {
  color: #77ffc0;
}

@media only screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}
