@font-face {
  font-family: "font1";
  src: url("../static/font.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font1", sans-serif;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 0; /* No padding at the top */
  padding-bottom: 0; /* No padding at the bottom */
  padding-left: 0.625rem; /* Converted from 10px to rem */
  padding-right: 0.625rem; /* Converted from 10px to rem */
  background-color: rgba(246, 246, 246);
}

/* --- everything in nav bar start here --- */
.navbar {
  background-color: lightblue;
  position: relative; /* Required for absolute positioning of children */
}

/* Style for individual buttons */
.change_button button,
.close_button button {
  background-color: transparent;
  color: transparent;
  border: none;
  font-family: "Brush Script MT", sans-serif;
  transition-duration: 0.4s;
  position: relative; /* Ensure proper positioning for icon-hover */
}
/* Add this CSS for manual positioning of buttons */
.change_button,
.close_button {
  position: absolute;
}

.change_button {
  position: fixed;
  right: 41rem;
  top: 8.5rem;
  z-index: 0;
}

.close_button {
  position: fixed;
  right: 5.8rem;
  top: 1rem;
  z-index: 50;
}
/* Style for the icon and icon-hover */
.icon,
.icon-hover {
  width: 70px; /* Set the width of the icon */
  height: 70px; /* Set the height of the icon */
  position: absolute;
  top: 0;
  left: 0;
}

.icon-hover {
  display: none; /* Hide icon-hover by default */
}

/* Show icon-hover on button hover */
.change_button button:hover .icon-hover,
.close_button button:hover .icon-hover {
  display: block;
  margin-top: 1px;
  transition-duration: 0.4s;
}

/* Hide icon on button hover */

.change_button button:hover .icon,
.close_button button:hover .icon {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; /* Example max-width for content */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.userinfo {
  position: fixed;
  left: 40rem;
  top: 1rem;
  z-index: 50;
}

/* --- everything in nav bar end here --- */


/* top part of the content */
.content {
  text-align: center; /* Center the text inside the content */
  padding: 150px;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange child elements vertically */
  align-items: center;
  height: 100vh;
}

.circle-image {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 8px solid rgb(255, 200, 35); /* Increase border width */
}

.circle-image img {
  width: 100%; /* Changed width to 100% */
  height: 100%; /* Changed height to 100% */
  object-fit: cover; /* Changed background to object-fit */
}

.avatar-container {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex; /* Use flexbox for avatar images */
  justify-content: center; /* Center avatar images horizontally */
  align-items: center; /* Center avatar images vertically */
  background-color: transparent;
}

.avatar-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  align-items: center;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Arrange children in a column */
}

.left-right-buttons {
  display: flex; /* Arrange children in a row */
  justify-content: space-between; /* Space evenly between children */
  margin-bottom: 10px;
}

button {
  padding: 5px 10px; /* Adjust padding as needed */
  margin: 0px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(70, 64, 64);
  cursor: pointer;
}

.go-chat-button {
  margin-top: 10px; /* Add margin between left-right buttons and go-chat button */
}



/* ends here things inside the button */



/* information starts here */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 100% viewport height */
  background-color: rgb(
    153,
    148,
    148
  ); /* Background color for the wrapper using RGB values */

}

.content {
  text-align: center;
  padding: 80px;
  background-size: cover; /* Adjusted to cover */
  background-position: center; /* Centered background image */
  width: 100%;
}


label {
  color: white;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #333;
  color: black;
  font-size: 12pt;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.56);
  outline: none;
  margin-bottom: 10px;
  box-sizing: border-box; /* Moved box-sizing here */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #ccc;
  width: 100%;
}

button[type="submit"] {
  width: 60%;
  padding: 16px 0;
  margin: 25px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: black;
  cursor: pointer;
}

p {
  color: white; /* Changed to white */
  text-align: center;
}

p a {
  color: black;
}

@media only screen and (max-width: 600px) {
  form {
    width: 90%;
    color: black;
  }
}



/* CSS for Username and Password input fields */
#new-username, 
#new-password {
  width: 80%; 
  padding: 10px; 
  margin: 10px 0; 
  border: 2px solid #ccc; 
  border-radius: 5px; 
  background-color: #f8f8f8; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 16px; 
}

/* Style for the form buttons */
form button {
  width: 85%; 
  padding: 10px; 
  margin-top: 10px; 
  border: none; 
  border-radius: 5px; 
  background-color: #333; 
  color: white; 
  font-size: 16px; 
  cursor: pointer; 
}

form button:hover {
  background-color: #555; /* Darken button color on hover */
}
