/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center the content vertically and horizontally */
body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% viewport height */
  background-color: rgb(
    245,
    244,
    240
  ); /* Background color for the wrapper using RGB values */
}

.content {
  text-align: center; /* Center the text inside the content */
  padding: 200px;
  background-image: url("../static/background.gif"); /* Background image for the content */
  background-size: cover; /* Cover the entire content area with the background image */
}

#maintitle {
  text-align: center;
  padding: 2px;
  font-family: "Brush Script MT";
  font-size: 45px;
}

#homeicon {
  background-image: url("../static/houseicon.jpg");
  width: 40px;
  height: 40px;
}

#mapimage {
  left:0;
  top:0;
  transform: scale(0.7);
  transform-origin: top left;
}

.avatar-container {
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

.clothing-container {
  margin-top: 20px;
}

button {
  padding: 5px 5px;
  margin: 0px;
  border: none;
  background-color: rgb(245, 244, 240);
  color: rgb(70, 64, 64);
  cursor: pointer;
}

.homebutton button {
  background-color: transparent;
  color: black;
  border: 2px solid rgb(0, 0, 0);
  font-family: "Brush Script MT ", sans-serif;
  margin-left: 10px;
  margin-top: 5px;
  transition-duration: 0.4s;
}

.homebutton button:hover {
  background-color: rgb(169, 169, 169);
  border: 2px solid rgb(0, 0, 0);
  margin-left: 10px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(52, 49, 49);
  color: rgb(169, 169, 169);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 10px;
  right: auto;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #565252;
}

.dropdown:hover .dropdown-content {
  display: block;
}
