/* 
style_library.css
Authors: Daniel Lumbu, Kritika Pandit Daniel Estrada, Alex Wcislo,Palmy Klangsathorn
Updated: May 31, 2024 
CSS file for both the library page.
 */


@font-face {
  font-family: "font1";
  src: url("../static/font.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font1", sans-serif;
}

body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 0; /* No padding at the top */
  padding-bottom: 0; /* No padding at the bottom */
  padding-left: 0.625rem; /* Converted from 10px to rem */
  padding-right: 0.625rem; /* Converted from 10px to rem */
  background-color:  #9099A2;
}

/* --- everything in nav bar start here --- */
.navbar {
  background-color: lightblue;
  position: relative; /* Required for absolute positioning of children */
}

/* Style for individual buttons */
.home_button button,
.aboutus_button button,
.profile_button button {
  background-color: transparent;
  color: transparent;
  border: none;
  font-family: "Brush Script MT", sans-serif;
  transition-duration: 0.4s;
  position: relative; /* Ensure proper positioning for icon-hover */
}
/* Add this CSS for manual positioning of buttons */
.home_button,
.aboutus_button,
.profile_button {
  position: absolute;
}

.home_button {
  position: fixed;
  left: 1.25rem;
  top: 1rem;
  z-index: 50;
}

.aboutus_button {
  position: fixed;
  right: 11rem;
  top: 1rem;
  z-index: 50;
}

.profile_button {
  position: fixed;
  right: 5.8rem;
  top: 1rem;
  z-index: 50;
}
/* Style for the icon and icon-hover */
.icon,
.icon-hover {
  width: 70px; /* Set the width of the icon */
  height: 70px; /* Set the height of the icon */
  position: absolute;
  top: 0;
  left: 0;
}

.icon-hover {
  display: none; /* Hide icon-hover by default */
}

/* Show icon-hover on button hover */
.home_button button:hover .icon-hover,
.aboutus_button button:hover .icon-hover,
.profile_button button:hover .icon-hover {
  display: block;
  margin-top: 1px;
  transition-duration: 0.4s;
}

/* Hide icon on button hover */
.home_button button:hover .icon,
.aboutus_button button:hover .icon,
.profile_button button:hover .icon {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #9099A2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content {
  display: none; /* Hide the dropdown content by default */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 450%; /* Position the dropdown below the button with some spacing */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown content when hovering over the parent button */
.profile_button:hover .dropdown-content {
  display: block;
}

.userinfo {
  position: fixed;
  left: 40rem;
  top: 1rem;
  z-index: 50;
}

/* --- everything in nav bar end here --- */

.content {
  text-align: center; /* Center the text inside the content */
  padding-top: 6rem; /* No padding at the top */
  padding-bottom: 0; /* No padding at the bottom */
  padding-left: 0.1rem; /* Converted from 20px to rem */
  padding-right: 0.1rem; /* Converted from 20px to rem */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange child elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  background-color: #9099A2;
}

h1.intro {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-size: 24px;
  color: #666;
  text-align: center;
  margin-bottom: -3rem;
}

.image-wrapper #music_image {
  max-width: 70rem;
}

.section {
  position: absolute;
  left: 0;
  right: 0;
  height: 20%;
  cursor: pointer;
}
#section1 {
  top: 20%;
}
#section2 {
  top: 40%;
}
#section3 {
  top: 60%;
}
#section4 {
  top: 80%;
}
.clicked {
  background-color: rgba(175, 225, 252, 0.169);
}
.image-wrapper {
  position: relative;
  text-align: center;
  z-index: 1;
  background-color: #9099A2;
}
#music_image {
  max-width: 100%;
}

.user-avatar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure it's on top of other elements */
}

.user-avatar img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.controls {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 2; /* Ensure it's above .image-wrapper */
  margin-top: 13.5rem;
  margin-bottom: 0; /* You can remove this line as it's already 0 */
}

#muteButton {
  padding: 0.5rem 1rem;
  margin-right: 0.625rem;
  font-size: 1rem;
  cursor: pointer;
}

label {
  font-size: 1rem;
  margin-right: 0.625rem;
}

#volumeControl {
  width: 9.375rem;
}
