/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center the content vertically and horizontally */
body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 0;
  background-color: rgb(
    245,
    244,
    240
  ); /* Background color for the wrapper using RGB values */
}

.top-element {
  display: flex;
  width: 100%;
  padding-top: 0px;
  background-color: transparent;
  padding: 10px 0;
}

/* Style for individual buttons */
.home_button button,
.setting_button button,
.profile_button button {
  background-color: transparent;
  color: black;
  font-family: "Brush Script MT ", sans-serif;
  margin-top: 20px; /* Add margin to push the home button down from the top */
  margin-left: 20px; /* Add margin to push the home button from the left */
  transition-duration: 0.4s;
  position: relative; /* Ensure proper positioning for icon-hover */
}

/* Hover effect for buttons */
.home_button button:hover,
.setting_button button:hover,
.profile_button button:hover {
  margin-inline-end: 1px;
  transition-duration: 0.4s;
}

/* Style for icon and icon-hover */
.icon,
.icon-hover {
  width: 70px; /* Set the width of the icon */
  height: 70px; /* Set the height of the icon */
  position: absolute;
  top: 0;
  left: 0;
}

.icon-hover {
  display: none; /* Hide icon-hover by default */
}

/* Show icon-hover on button hover */
.home_button button:hover .icon-hover,
.setting_button button:hover .icon-hover,
.profile_button button:hover .icon-hover {
  display: block;
}

/* Hide icon on button hover */
.home_button button:hover .icon,
.setting_button button:hover .icon,
.profile_button button:hover .icon {
  display: none;
}

.content {
  text-align: center; /* Center the text inside the content */
  padding: 150px;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange child elements vertically */
  align-items: center;
}

.intro {
  margin-bottom: 20px; /* Add margin at the bottom of the paragraph */
}

.avatar-container {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex; /* Use flexbox for avatar images */
  justify-content: center; /* Center avatar images horizontally */
  align-items: center; /* Center avatar images vertically */
}

.avatar-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.controls {
  margin-bottom: 20px;
}

button {
  padding: 5px 5px;
  margin: 0px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(70, 64, 64);
  cursor: pointer;
}
