/* 
registerandlogin.css
Authors: Daniel Lumbu, Kritika Pandit Daniel Estrada, Alex Wcislo,Palmy Klangsathorn
Updated: May 31, 2024 
CSS file for the chatroom.
 */

@font-face {
  font-family: "font1";
  src: url("../static/font.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font1", sans-serif;
}

body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 0; /* No padding at the top */
  padding-bottom: 0; /* No padding at the bottom */
  padding-left: 0.625rem; /* Converted from 10px to rem */
  padding-right: 0.625rem; /* Converted from 10px to rem */
  background-color: rgba(246, 246, 246);
}

/* --- everything in nav bar start here --- */
.navbar {
  background-color: lightblue;
  position: relative; /* Required for absolute positioning of children */
}

/* Style for individual buttons */
.home_button button,
.aboutus_button button,
.profile_button button {
  background-color: transparent;
  color: transparent;
  border: none;
  transition-duration: 0.4s;
  position: relative; /* Ensure proper positioning for icon-hover */
}
/* Add this CSS for manual positioning of buttons */
.home_button,
.aboutus_button,
.profile_button {
  position: absolute;
}

.home_button {
  position: fixed;
  left: 1.25rem;
  top: 1rem;
  z-index: 50;
}

.aboutus_button {
  position: fixed;
  right: 11rem;
  top: 1rem;
  z-index: 50;
}

.profile_button {
  position: fixed;
  right: 5.8rem;
  top: 1rem;
  z-index: 50;
}
/* Style for the icon and icon-hover */
.icon,
.icon-hover {
  width: 70px; /* Set the width of the icon */
  height: 70px; /* Set the height of the icon */
  position: absolute;
  top: 0;
  left: 0;
}

.icon-hover {
  display: none; /* Hide icon-hover by default */
}

/* Show icon-hover on button hover */
.home_button button:hover .icon-hover,
.aboutus_button button:hover .icon-hover,
.profile_button button:hover .icon-hover {
  display: block;
  margin-top: 1px;
  transition-duration: 0.4s;
}

/* Hide icon on button hover */
.home_button button:hover .icon,
.aboutus_button button:hover .icon,
.profile_button button:hover .icon {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content {
  display: none; /* Hide the dropdown content by default */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 450%; /* Position the dropdown below the button with some spacing */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown content when hovering over the parent button */
.profile_button:hover .dropdown-content {
  display: block;
}

.userinfo {
  position: fixed;
  left: 40rem;
  top: 1rem;
  z-index: 50;
}

/* --- everything in nav bar end here --- */

.content {
  text-align: center; /* Center the text inside the content */
  padding-top: 10rem; /* No padding at the top */
  padding-bottom: 0; /* No padding at the bottom */
  padding-left: 1.25rem; /* Converted from 20px to rem */
  padding-right: 1.25rem; /* Converted from 20px to rem */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange child elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  background-color: rgba(246, 246, 246);
  border: 5px solid black;
  border-radius: 20px;
}

.center-med {
  text-align: center;
  font-size: large;
}

.big-button {
  font-size: large;
}

.center-big {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.red {
  color: red;
  text-align: Left;
  display: block;
  margin-right: 30px;
}
.sent_text {
  color: blue;
  display: block;
  text-align: right;
  margin-left: 30px;
}

/* Additional styles for scrollable message container */
#textContainer {
  background-color: rgb(157, 155, 155);
  height: 500px;
  width: 500px;
  overflow-y: auto;
  overflow-x: auto;
  border: 3px solid rgb(157, 155, 155);
  padding: 5px;
}

/*.message {
  display: block;
  Font: 25px;
  color: rgb(38, 0, 255);
}

.play_name{
  Font: 25px;
  color: red
}*/

.create-post {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px grey;
  box-shadow: 0 0 5px 1px grey;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
}

.header::before,
h1,
.cross-icon {
  content: "";
  flex-basis: 100%;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -0.25rem;
  left: 0;
  background-color: rgb(193, 190, 190);
}

h1 {
  text-align: center;
}

.cross-icon {
  text-align: right;
}

.cross-icon-mark {
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 50%;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/fCbUcoRfiez.png);
  background-position: 3.5px -483.5px;
  background-size: 26px 1031px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  display: inline-block;
}

.post-header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  width: 3.5rem;
  height: 3.5rem;
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  border-radius: 50%;
}

.full-name {
  margin-bottom: 0.3rem;
}

.post-content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

textarea {
  font-size: 1.25rem;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  line-height: 1.25;
}

.emoji-picker {
  text-align: right;
  margin-bottom: 1rem;
  position: relative;
}

emoji-picker {
  display: none;
  position: absolute;
  right: 0;
  top: -26rem;
  left: 65%;
}

.emoji {
  border-radius: 50%;
  cursor: pointer;
}

.add-to-your-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
  border: 1px solid rgb(193, 190, 190);
  padding: 1.25rem 1rem;
  border-radius: 5px;
}

.add-to-post-text {
  font-weight: bold;
}

.add-to-post-icons {
  display: flex;
  gap: 1.25rem;
}

.add-to-post-icons div {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.post-btn {
  outline: none;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.75rem 0;
  margin-top: 1rem;
  background-color: #1b74e4;
  color: #ffffff;
  font-size: 1rem;
}

.post-btn:hover {
  background-color: rgba(27, 116, 228, 0.85);
}

.post-btn:disabled,
.post-btn[disabled] {
  cursor: not-allowed;
  background-color: #e4e6eb;
  color: #bdc1c5;
}

.post-audience-section {
  transform: translateY(-5rem);
  display: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px grey;
  box-shadow: 0 0 5px 1px grey;
}

.post-audience-header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  align-items: center;
  padding-left: 1.5rem;
}

.post-audience-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -0.25rem;
  left: 0;
  background-color: rgb(193, 190, 190);
}

.arrow-left-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: #606770;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yQ/r/1gFkxZXWOU8.png);
  background-position: 0px -182px;
  background-size: 26px 972px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  width: 300px; /* Adjust the width as needed */
  margin: 20px auto; /* Center the container */
  border: 1px solid black;
  border-radius: 2px;
}

#message_input {
  width: 100%; /* Full width of the parent container */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chat button {
  width: 100%; /* Full width of the parent container */
  padding: 10px;
  background-color: #4a82c8;
  color: rgb(255, 246, 246);
  font-size: 15px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
