<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carl Chat</title>
    <link rel="stylesheet" href="../static/style2.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="top-element">
        <div class="home_button">
          <button>
            <img class="icon" src="../static/asset/home_button.png" />
            <img
              class="icon-hover"
              src="../static/asset/home_button_hover.png"
            />
          </button>
        </div>
        <div class="setting_button">
          <button>
            <img class="icon" src="../static/asset/setting_button.png" />
            <img
              class="icon-hover"
              src="../static/asset/setting_button_hover.png"
            />
          </button>
        </div>
        <div class="profile_button">
          <button>
            <img class="icon" src="../static/asset/profile_button.png" />
            <img
              class="icon-hover"
              src="../static/asset/profile_button_hover.png"
            />
          </button>
        </div>
      </div>

      <div class="content">
        <h1>Avatar</h1>

        <p class="intro">Choose your Avatar and Save it!</p>

        <div class="avatar-container">
          <img src="../static/asset/avatar.png" alt="avatar" />
        </div>

        <div class="controls">
          <button id="left-btn">Left</button>
          <button id="right-btn">Right</button>
          <button id="save-btn">Save</button>
        </div>
      </div>
    </div>
    <script src="../static/js/script.js"></script>
  </body>
</html>
