<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carl Chat Main</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>

    <div class="homebutton">
      <p>
        <a href="/home">
          <button>
          <img id="homeicon" src="../static/houseicon.jpg"/>
          </button>
        </a>
      </p>

      <div class="dropdown">
        <button id="settings">Settings</button>
        <div class="dropdown-content">
            <a href="/aboutpage">About Page</a>
            <a href="/aboutus">About Us</a>
            <a href="/contact">Contact Us</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    {% if username %}
    <p>Logged in as: {{ username }}!</p>
    {% else %}
    <p>Playing as: guest!</p>
    {% endif %}

    </div>
    <h1 id="maintitle">Carleton Campus Map</h1>
      <div class="mapcontent">
      </div>

    <script src="../static/settings.js"></script>

  </body>
</html>
