<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="stylesheet" href="../static/style_library.css" />
    <link rel="stylesheet" href="../static/music.css" />
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar">
        <div class="home_button">
          <a href="/">
            <button>
              <img class="icon" src="../static/asset/home_button.png" />
              <img
                class="icon-hover"
                src="../static/asset/home_button_hover.png"
              />
            </button>
          </a>
        </div>
        <div class="setting_button">
          <button id="modal-btn">
            <img
              class="icon"
              src="../static/asset/setting_button.png"
              alt="Setting"
            />
            <img
              class="icon-hover"
              src="../static/asset/setting_button_hover.png"
              alt="Setting Hover"
            />
          </button>
        </div>

        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Settings</h2>
            <p>
              This is the content of the modal. It can cover most of the screen.
            </p>
          </div>
        </div>

        <div class="profile_button">
          <button>
            <img
              class="icon"
              src="../static/asset/profile_button.png"
              alt="Profile"
            />
            <img
              class="icon-hover"
              src="../static/asset/profile_button_hover.png"
              alt="Profile Hover"
            />
          </button>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div class="userinfo">
          {% if username %}
          <p>Logged in as: {{ username }}!</p>
          {% else %}
          <p>Playing as: guest!</p>
          {% endif %}
        </div>
      </nav>

      <div class="content">
        <h1 class="intro">Library</h1>
        <h2>Choose your favorite floor and Listen to music</h2>
        <div class="container">
          <div class="left-col">
            <h1>Choose <br />Your <br />Vibe</h1>
            <select id="songSelector">
              <option value="asset/sounds/music1.mp3">Song 1</option>
              <option value="asset/sounds/music2.mp3">Song 2</option>
              <option value="asset/sounds/music3.mp3">Song 3</option>
              <option value="asset/sounds/music4.mp3">Song 4</option>
              <option value="asset/sounds/music5.mp3">Song 5</option>
            </select>
          </div>

          <div class="right-col">
            <p>Click Here To Listen to music</p>
            <img src="../static/asset/Play.png" id="icon" />
          </div>
        </div>

        <audio id="mysound"></audio>
        <div class="image-wrapper">
          <img
            id="music_image"
            src="../static/asset/library.png"
            alt="Library"
          />
          <div id="section1" class="section"></div>
          <div id="section2" class="section"></div>
          <div id="section3" class="section"></div>
          <div id="section4" class="section"></div>
        </div>
      </div>
    </div>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/musicplayer.js"></script>
    <script src="../static/js/library.js"></script>
  </body>
</html>
