<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../static/style_profile.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar">
        <div class="close_button">
        <a href="/home">
          <button>
            <img class="icon" src="../static/asset/close_button.png" />
            <img
              class="icon-hover"
              src="../static/asset/close_button_hover.png"
            />
          </button>
        </a>
        </div>
      </nav>

    <div class="content">
      <div class="circle-image">
        <img src="../static/asset/avatar.png" />
      </div>
      <div class="change_button">
        <button id = "modal-btn">
          <img
            class="icon"
            src="../static/asset/change_button.png"
            alt="Change"
          />
          <img
            class="icon-hover"
            src="../static/asset/change_button_hover.png"
            alt="Change Hover"
          />
        </button>
      </div>

      <!-- Modal or Popup -->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <!-- Close button for the modal -->
          <span class="close">&times;</span>
          <!-- Modal content goes here -->
          <div class="avatar-container">
            <img src="../static/asset/avatar.png" alt="avatar" />
          </div>
  
          <div class="controls">
            <div class="left-right-buttons">
              <button id="left-btn">Left</button>
              <button id="right-btn">Right</button>
            </div>
            <div class="go-chat-button">
                <button id="save-btn">Save!</button>
            </div>
          </div>
        </div>
      </div>
        
      <div class= "information">
        
    </div>
   </div>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/choose.js"></script>
  </body>
</html>
