<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../static/style_profile.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="close_button">
        <a href="/home">
          <button>
            <img class="icon" src="../static/asset/close_button.png" />
            <img
              class="icon-hover"
              src="../static/asset/close_button_hover.png"
            />
          </button>
        </a>
      </div>
    </nav>

    <div class="content"></div>

    <script src="../static/js/scripts_home.js"></script>
  </body>
</html>
