 <!-- profile.html
    Daniel Lumbu, Kritika Pandit Daniel Estrada, Alex Wcislo,Palmy Klangsathorn
    Updated: May 31, 2024 
    This is html for the profile page where users can choose different avatars as well as change their username as well as password.
  -->





<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One-Card</title> 
    <!-- this is for makin it specific for the Carleton -->
    <link rel="stylesheet" href="../static/style_profile.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar">
        <div class="close_button">
          <a href="/">
            <button>
              <img class="icon" src="../static/asset/close_button.png" />
              <img
                class="icon-hover"
                src="../static/asset/close_button_hover.png"
              />
            </button>
          </a>
        </div>
      </nav>

      <div class="content">
        <div class="circle-image">
          <img id="profile-avatar" src="../static/asset/avatar.png" />
        </div>
        <div class="change_button">
          <button id="modal-btn">
            <img
              class="icon"
              src="../static/asset/change_button.png"
              alt="Change"
            />
            <img
              class="icon-hover"
              src="../static/asset/change_button_hover.png"
              alt="Change Hover"
            />
          </button>
        </div>

        <!-- Modal or Popup -->
        <div id="myModal" class="modal">
          <div class="modal-content">
            <!-- Close button for the modal -->
            <a href="/profile">
            <span class="close">&times;</span>
            </a>
            <!-- Modal content goes here -->
            <div class="avatar-container">
              <img src="../static/asset/avatar.png" alt="avatar" />
            </div>

            <div class="controls">
              <div class="left-right-buttons">
                <button id="left-btn">Left</button>
                <button id="right-btn">Right</button>
              </div>
              <div class="go-chat-button">
                <button id="save-btn">Save!</button>
              </div>
            </div>
          </div>
        </div>

        <div class="information">
          <form id="update-username-form" class="flex">
              <label for="new-username">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Username: </label>
              <input type="text" id="new-username" name="new-username" placeholder={{ username }} required>
              <button type="submit">Update Username</button>
          </form>
          <form id="update-password-form" class="flex">
              <label for="new-password">New Password: </label>
              <input type="password" id="new-password" name="new-password" placeholder="Enter new password" required>
              <button type="submit">Update Password</button>
          </form>
      </div>
      

  
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/choose.js"></script>
    <script src="../static/js/profile.js"></script>
  </body>
</html>
