<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carl Chat</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="homebutton">
      <p>
        <a href="/home">
          <button>
            <img id="homeicon" src="../static/asset/houseicon.jpg" />
          </button>
        </a>
      </p>
    </div>
    <div class="wrapper">
      <div class="content">
        <h1>Welcome to Carl Chat</h1>

        <p class="intro">Choose your Avatar and go talk with Carls!</p>

        <div class="avatar-container">
          <img src="../static/asset/avatar.png" alt="avatar" />
        </div>

        <div class="controls">
          <button id="left-btn">Left</button>
          <button id="right-btn">Right</button>
          <button id="save-btn">Save</button>
        </div>
      </div>
    </div>
    <script src="../static/js/script.js"></script>
  </body>
</html>
